
body {
  margin: 0;
  padding: 0;
}

aside {
 
  background-color: #f8f9fa;
  height: 100vh;
  position: sticky;
  top: 0;
  padding: 20px;
  text-align: center;
  transition: width 0.3s ease;

}


aside a {
  
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000000;
  transition: background-color 0.3s;
}

aside a:hover {
  background-color: #dcdcdc;
}

header {
    height: 100px;
  background-color:#F5F5F4;
  color: #ffffff;
  padding-bottom: 10px;
  text-align: center;
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.navv{
    padding-right:20px ;
    background-color: white;
    height: 80px;
}

main {
  background-color:#F5F5F4;
  padding: 20px;
  min-height: 100vh;
}

.card {
border: none;
  background-color: #ffffff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
}
.left{
width:17%;
transition: width 0.3s ease;
text-align: left;

}
.right {
    padding: 0%;
    width: 83%;
    transition: width 0.3s ease;
}


#rightBtn{
    display: none;
}
.link{
    transition: 3s ease;
}


.d-flexxx {
align-items: flex-end; 
}



input {
border: none; 
border-bottom: 2px solid gray;
outline: none;
transition: border 0.3s; 
}

input:focus {
border-bottom: 2px solid #007bff; 
}

