.logo{
    margin-right: 30%;
}
.sticky-top {
    position: sticky;
    top: 0;
    z-index: 1000;
}
.hero-section {
        background-color: #f8f9fa; 
        padding: 60px 0; 
        text-align: center;
        height: 100vh;
    }

    .hero-text {
        margin-top: 60px;
        text-align: left;
    }

    .hero-image {
        max-width: 100%;
        height: auto;
    }
    .category-card {
    margin-top: 30px;
}
.card{
    border:none;
}



.wiki-section {
    background-color: #ffffff;
    padding: 60px 0;
   
}

.wiki-card {
    margin-top: 30px;
}

.wiki-card img {
    max-width: 100%;
    height: auto;
}
.logo{
    margin-right: 30%;
}
.sticky-top {
    position: sticky;
    top: 0;
    z-index: 1000;
}
.hero-section {
        background-color: #f8f9fa; 
        padding: 60px 0; 
        text-align: center;
        height: 100vh;
    }

    .hero-text {
        margin-top: 60px;
        text-align: left;
    }

    .hero-image {
        max-width: 100%;
        height: auto;
    }
    .category-card {
    margin-top: 30px;
}
.card{
    border:none;
}



.wiki-section {
    background-color: #ffffff;
    padding: 60px 0;
   
}

.wiki-card {
    margin-top: 30px;
}

.wiki-card img {
    max-width: 100%;
    height: auto;
}


input {
border: none; 
border-bottom: 2px solid gray;
outline: none;
transition: border 0.3s; 
}

input:focus {
border-bottom: 2px solid #007bff; 
}

.filter-section {
    margin-top: 20px;
 
}

.form-check {
    margin-bottom: 10px;
}

.sticky{
top: 80px;
position: sticky;
}
#sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 80px; 
    height: 100vh; 
    overflow-y: auto;
    width: 20%;
}